%p#notice= notice

%p
  %b 
    Name:
  = @equipment.name

%p
  %b
    Desc:
  = @equipment.desc

%p
  %b
    Ip:
  = @equipment.ip


= link_to 'Edit', edit_equipment_path(@equipment)  , :class=>"btn"
= link_to 'Back', equipment_index_path , :class=>"btn"
