<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @equipment.desc %>
</p>

<p>
  <b>Ip:</b>
  <%= @equipment.ip %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
