<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @variable.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @variable.desc %>
</p>

<p>
  <b>Address:</b>
  <%= @variable.address %>
</p>

<p>
  <b>Equipment:</b>
  <%= @variable.equipment_id %>
</p>

<p>
  <b>Is archive:</b>
  <%= @variable.is_archive %>
</p>

<p>
  <b>Type:</b>
  <%= @variable.var_type %>
</p>

<p>
  <b>Last value:</b>
  <%= @variable.last_value %>
</p>

<p>
  <b>Datetime update value:</b>
  <%= @variable.datetime_update_value %>
</p>


<%= link_to 'Edit', edit_equipment_variable_path(@variable.equipment_id, @variable.id) %> |
<%= link_to 'Back', equipment_variables_path %>
